@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sohne);
  --font-mono: var(--font-sohne);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, sans-serif;
}
.slider-dots {
  height: 12px;
}
.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #FE9339;
  cursor: pointer;
}
.slider-dot:hover {
  width: 12px;
  height: 12px;
}
.slider-dot.active {
  background: #FE9339;
}
